body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
}

.user-list-container {
  background: white;
  padding: 20px;
  border-radius: 10px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 80vw;
  max-width: 1200px;
  position: relative;
  margin-top: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h1 {
  margin: 0;
}

.header .buttons {
  display: flex;
  gap: 10px
}

.header button {
  padding: 8px 16px;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.header button:hover {
  background-color: #0056b3;
}

.user-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.user {
  display: flex;
  align-items: center;
  background: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: auto;
  flex-shrink: 0;
}

.user img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.user-info {
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  width: 100%;
  justify-content: space-between;
}

.user-info div {
  display: flex;
  flex-direction: column;
}

.user-info span {
  font-size: 14px;
  color: #777;
}

.user-info strong {
  font-size: 16px;
  color: #333;
}
